@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");
body {
  font-family: Titillium Web;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  display: flex;
  justify-content: center;
}
.container {
  padding: 10px;
  border: 1px solid #bcb9b8;
  width: 40%;
  margin: auto;
}

.container .input {
  width: 87%;
  height: 20px;
}

.container .btn {
  width: 25px;
  height: 25px;
}

.container ul {
  list-style: none;
  padding: 0px;
}

.container li a {
  float: right;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.container #error {
  color: black;
  font-size: 18px;
  margin-top: 100px;
}

.remove {
  color: #000;
  display: flex;
  justify-content: left;
  flex-direction: row-reverse;
  margin: 2px;
  padding-left: 10px;
}
